body{
    width: 100%;
    background-color: aliceblue;
    margin-left: auto;
    margin-right: auto;
}

header{
    padding: 15px 15px 70px 15px;
    background-color: rgb(23, 41, 73);
    color: rgb(29, 208, 193);
    
}
nav{µ

    color: rgb(29, 208, 193);
}