body{
    width: 100%; 
    background-color:rgb(23, 41, 73) ;
    margin-left: 10px;
    margin-right: 10px;
    height: 100%;
}

header{
    width: 80%;
    padding: 20px 10px 50px 15px;
    background-color:aliceblue;
    color: rgb(29, 208, 193);
    border-color:rgb(29, 208, 193) ;
    margin-bottom: 20px;
    margin-right: 10px;
}
nav{
    background-color: rgb(29, 208, 193);
    color: rgb(29, 208, 193);
}
nav a{
    font-family: inherit;
    font-style: inherit;
    font-size: 20px;
    transition: 0.4s;
    text-decoration: none;
    float: right;
    padding: 10px 10px;
    margin: 10px 10px;
    color: rgb(23, 41, 73);
}

nav a:hover{
    padding: 24px 10px;
    background-color: rgb(23, 41, 73) ;
    color: rgb(29, 208, 193) ;
}
section{
    font-family: inherit;
    font-style: inherit;
    padding: 10px 10px 50px 15px;
    flex:80%;
    align-items: center;
    display: inline-block;
    width: 80%;
    height: 80%;
    background-color:aliceblue;
    color: rgb(23, 41, 73) ;
}

#Coriotech{
    float: left;
    align-items: center; 
}
article{
    width: 60%;
    float: left;
}
aside{
    float: right;
    flex: 40%;
}
