body{
    width: 100%; 
    background-color:rgb(23, 41, 73) ;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    
}

header{
    width: 80%;
    padding: 20px 20px 50px 20px;
    background-color:aliceblue;
    color: rgb(29, 208, 193);
    display: block;
    align-items: center;
    border-color:rgb(29, 208, 193) ;
    margin-left: 10px;
    margin-bottom: 20px;
    margin-right: 10px;
    margin: 20px ;
}
nav{
    background-color: rgb(29, 208, 193);
    color: rgb(29, 208, 193);
    
}
nav a{
    font-family: inherit;
    font-style: inherit;
    font-size: 20px;
    transition: 0.4s;
    text-decoration: none;
    float: right;
    padding: 10px 10px;
    margin: 10px 10px;
    color: rgb(23, 41, 73);
}

nav a:hover{
    padding: 24px 10px;
    background-color: rgb(23, 41, 73) ;
    color: rgb(29, 208, 193) ;
}
section{
    font-family: inherit;
    font-style: inherit;
    padding: 20px;
    flex:80%;
    align-items: flex-start;
    display: inline-block;
    width: 80%;
    height: 80%;
    background-color:aliceblue;
    color: rgb(23, 41, 73) ;
    margin: 20px 20px;
}

#Coriotech{
    float: left; 
}

article{
    flex: 80%;
    display: inline-block;
    align-items: flex-start;
    width: 60%;
    float: left;
}
aside{
    flex: 40%;
    float: right;
    align-items: flex-end;
    width: 30%;
    display:inline-block;
    margin: 10px;
}

footer{
    background-color:  rgb(29, 208, 193);
    color: aliceblue;
    flex: 80%;
    padding: 20px;
    display: inline-block;
    width: 80%;
    margin: 10px 20px;
}

h2{
    color: rgb(23, 41, 73);
}

