body{
    width: 100%; 
    background-color:rgb(23, 41, 73) ;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    
}

header{
    width: 80%;
    padding: 20px 20px 50px 20px;
    background-color:aliceblue;
    color: rgb(29, 208, 193);
    display: block;
    align-items: center;
    margin:20px,10px, 20px, 10px ;
    margin: 20px;
}

nav a{
    font-style: inherit;
    font-size: 20px;
    transition: 0.4s;
    text-decoration: none;
    float: right;
    padding: 10px 10px;
    margin: 10px 10px;
    color: rgb(23, 41, 73);
}

nav a:hover{
    padding: 15px 10px;
    background-color: rgb(23, 41, 73) ;
    color: rgb(29, 208, 193) ;
}
section{
    font-style: inherit;
    padding: 20px;
    flex:80%;
    align-items: flex-start;
    display: inline-block;
    width: 80%;
    height: 80%;
    background-color:aliceblue;
    color: rgb(23, 41, 73) ;
    margin: 20px 20px;
}

#Coriotech{
    float: left; 
}

article{
    justify-content: flex-start;
    display: inline-block;
    align-items: flex-start;
    width: 50%;
    
}
aside{
    flex-direction: row;
}
#kaart{
    width: 40%;
    float: right;
}
footer{
    background-color:  rgb(29, 208, 193);
    color: aliceblue;
    flex: 80%;
    padding: 20px;
    display: inline-block;
    width: 80%;
    margin: 10px 20px;
}

h2{
    color: rgb(23, 41, 73);
}
body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
